doctype html
html(lang="en")
  head
    title Make a blog post
    link(rel="stylesheet", href="assets/css/main.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    script(src="assets/js/moment.js")
  body
    h1 Make a new blog post
    form.post-form(method="post", action="/")
      label Title:
      input(type="text", placeholder="Post title", name="title")
      textarea(name="content", placeholder="Post body")
      input(type="submit", value="Submit", name="Submit")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", crossorigin="anonymous")
    script(src="assets/js/app.js")

